html {
    overflow: scroll;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

body, div, h1, h2, a, form, table, caption, thead, tbody, tr, th, td, submit, textarea, select, img {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    color:white;
    background-color: transparent;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: white;
}

input:focus{
    outline: none;
}

input::placeholder {
    color: #686868;
}

video:focus{
    outline: none;
}