.headerBox{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: -21px;
    background-color: black;
    z-index:10;
    padding-bottom: 20px;
}

.pageTitle{
    display: inline;
    font-size: 20px;
    width: calc(100% - 120px);
}

.addBtn{
    width: 120px;
    height: 40px;
    border: none;
    background-color: #282828;
    color: white;
    display: inline;
    border-radius: 10px;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table thead{
    position: sticky;
    top: 84.5px;
    background-color: black;
    z-index:8;
}

.table thead tr th{
    border-bottom: 2px solid #282828;
    border-top: 2px solid #282828;
}

.table tbody{
    overflow-y: scroll;
}

.table th{
    height: 40px;
    border: none;
    vertical-align: middle;
}

.table td{
    height: 112px;
    border: none;
}

.checkBoxCol{
    text-align: center;
}

.checkBoxLabel{
    width: 18px;
    height: 18px;
    background-color: #282828;
    border: 0;
    border-radius: 1px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    display: inline-block;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 0;
    border-radius: 1px;
    display: none;
    margin: 0;
    position: absolute;
    cursor: pointer;
    accent-color: #282828;
}

.row td{
    border-bottom: 1px solid #282828;
}

.row:hover td{
    background-color:rgba(255, 255, 255, 0.2);
}

.imageBox{
    display: flex;
    cursor: pointer;
}

.image{
    width: 200px;
    height: 112px;
}

.noImage{
    width: 200px;
    height: 112px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    width: calc(100% - 200px);
    height: 112px;
    display: inline-block;
    padding: 10px;
}

.selectAction{
    width: 100%;
    padding: 5px;
    position: sticky;
    top: 49px;
    z-index: 9;
    background-color: black;
}

.deleteBtn{
    background-color: #282828;
    border: none;
    height: 25px;
    color: white;
    width: 50px;
    font-size: 0.8rem;
}

.deleteBtn:hover{
    background-color: #585858;
}