.videoList{
    width: 100%;
}

.uploadBox{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    top: -21px;
    background-color: black;
    z-index:10;
    padding-bottom: 20px;
}

.pageTitle{
    display: inline;
    font-size: 20px;
    width: calc(100% - 120px);
}

.uploadBtn{
    width: 120px;
    height: 40px;
    border: none;
    background-color: #282828;
    color: white;
    display: inline;
    border-radius: 10px;
}

.uploadBtn:hover{
    background-color: #585858;
}

.videoTable{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.videoTable thead{
    top: 84.5px;
    background-color: black;
    z-index:8;
}
.videoTable thead tr th{
    border-bottom: 2px solid #282828;
    border-top: 2px solid #282828;
}


.videoTable tbody{
}

.videoTable th{
    height: 40px;
    border: none;
    vertical-align: middle;
}

.videoTable td{
    height: 112px;
    border: none;
}

.checkBoxCol{
    text-align: center;
}

.checkBoxLabel{
    width: 18px;
    height: 18px;
    background-color: #282828;
    border: 0;
    border-radius: 1px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    display: inline-block;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 0;
    border-radius: 1px;
    display: none;
    margin: 0;
    position: absolute;
    cursor: pointer;
    accent-color: #282828;
}

.videoRow td{
    border-bottom: 1px solid #282828;
}

.videoRow:hover td{
    background-color:rgba(255, 255, 255, 0.2);
}

.videoBox{
    display: flex;
    cursor: pointer;
}

.video{
    width: 200px;
    height: 112px;
}

.TitleAndDescription{
    width: calc(100% - 200px);
    height: 112px;
    display: inline-block;
    padding: 10px;
}

.videoTitle{
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    border: none;
    word-break: break-all;
    word-wrap: break-word;
}
.videoDescription{
    padding-top: 10px;
    font-size: 15px;
    color: #585858;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    border: none;
    word-break: break-all;
    word-wrap: break-word;
}

.selectAction{
    width: 100%;
    padding: 5px;
    top: 49px;
    z-index: 9;
    background-color: black;
}

.deleteBtn{
    background-color: #282828;
    border: none;
    height: 25px;
    color: white;
    width: 50px;
    font-size: 0.8rem;
}

.deleteBtn:hover{
    background-color: #585858;
}
