.content{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 5%;
}

.miniContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.playlistInfoBox{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.playlistImageBox{
    padding-top:56.25%;
    position:relative;
}

.playlistImage{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border: 0;
    border-radius: 10px;
    background-color: #282828;
}

.imageGradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border: 0;
    border-radius: 10px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 80%));
}

.playlistTitle{
    font-size: 1.5rem;
    padding: 5px;
}

.videoCountAndUpdateDt{
    font-size: 0.8rem;
    color: lightgrey;
    padding: 5px;
}

.playlistVideoBox{
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
    overflow-y: auto;
}

.miniPlaylistVideoBox{
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
}

.video{
    width: 100%;
    padding-bottom: 10px;
    border-radius: 10px;
}