.contents{
    width: calc(100vw - 200px);
    height: calc(100% - 60px);
    overflow-y: auto;
    position: fixed;
    top: 60px;
    left: 200px;
    padding: 20px;
}

.miniContents{
    width: 100vw;
    height: calc(100% - 120px);
    overflow-y: auto;
    position: fixed;
    top: 60px;
    padding: 20px;
}