.menu{
    position: fixed;
    top: 60px;
    border: none;
    width: 200px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    float: left;
    padding: 0;
    background-color: black;
    display: block;
}

.subscribeBox{
    border-bottom: 1px solid #585858;
    border-top: 1px solid #585858;
}

.sub{
    font-size: 20px;
    padding: 10px;
}



.menu::-webkit-scrollbar {
    width: 10px;  
}

.menu.scrollbar::-webkit-scrollbar-track {
    background: transparent;  /*스크롤바 뒷 배경 색상*/
}
.menu::-webkit-scrollbar-thumb {
    background: gray; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

